<!DOCTYPE html>
<html>
<head>
  <title><%=@title%></title>
  <%= render 'layouts/stylesheets'%>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tags %>
</head>

<body id="background">
<div id="container">
<div id= "banner1" class = "menu">
  

	<%=render 'layouts/banner1'%>


</div>

<div id= "banner2">
	
	<%=render 'layouts/banner2'%>

	</div>

<div id= "banner3"> </div>

<div id= "banner4">
	<%= yield %>
	  </div>

<div id= "banner5">	Here's some of our latest entries!</div>

<div id= "banner6">	

	<%=render 'layouts/banner6'%>
	


</div>
 
</div>	
</body>

</html>
